### Lab 1
### siddhi subhedar
### PRN : 1262240621

In [2]:
# Printing basics
print("Hello World! I Don't Give a Bug")

Hello World! I Don't Give a Bug

In [4]:
# Variable examples
name = "Sura"
print(name)

Sura

In [6]:
age = 45
salary = 1456.8
name = "ela"
print(age)
print(salary)
print(name)

45
1456.8
ela

In [8]:
# Variable types
x = "Hello World"
x = 50
x = 60.5
x = 3j
x = ["geeks", "for", "geeks"]
x = ("geeks", "for", "geeks")
x = {"name": "Siri", "age": 23}
x = {"geeks", "for", "geeks"}
x = True
x = b"Geeks"

In [10]:
# Input example
name = input("Please enter your name: ")
print(name)

Please enter your name:  surabhi

surabhi

In [12]:
# Arithmetic operations
a, b = 10, 5
print(a + b, a - b, a * b, a % b, a ** b, sep='\n')

15
5
50
0
100000

In [14]:
# Logical operations
a, b = True, False
print(a and b, a or b, not a, sep='\n')

False
True
False

In [16]:
# Bitwise operations
a, b = 10, 4
print(a & b, a | b, ~a, a ^ b, a >> 2, a << 2, sep='\n')

0
14
-11
14
2
40

In [18]:
# Assignment operators
a = 10
b = a
print(b)
b += a
print(b)
b -= a
print(b)
b *= a
print(b)
b <<= a
print(b)

10
20
10
100
102400

In [12]:
# Conditional statements
i = int(input("Enter a value: "))
if i < 15:
    print("i is smaller than 47")
else:
    print("i is greater than 90")
print("i'm not in if and not in else Block")

Enter a value:  23

i is greater than 90
i'm not in if and not in else Block

In [14]:
i = int(input("Enter a value from 10, 15, 20: "))
if i == 10:
    print("i is 10")
elif i == 15:
    print("i is 15")
elif i == 20:
    print("i is 20")
else:
    print("i is not present")

Enter a value from 10, 15, 20:  15

i is 15

In [16]:
# Loops
for i in range(0, 100, 5):
    print(i)

count = 0
while count < 5:
    count += 1
    print("Hey")

0
5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
Hey
Hey
Hey
Hey
Hey

In [18]:
# Built-in functions
print(ord('A'), bin(45), int(0b10010101), chr(115), sep='\n')

65
0b101101
149
s

In [20]:
# Bitwise and shift operations
x, y = 14, 5
print(x & y, x | y, x ^ y, sep='\n')

4
15
11

In [22]:
# Comparisons
a = 97
b = ord('a')
print(a == b)

True

In [24]:
# String operations
x = 55
print(x << 3, x >> 2, ~x, sep='\n')

440
13
-56

In [26]:
# String slicing
a = '19-08-2023'
print(a[:2], a[3:5], a[6:], sep='\n')

19
08
2023

In [28]:
# Palindrome check
word = input('Enter a word: ')
print(word)
print(word[::-1])
if word == word[::-1]:
    print('Palindrome')
else:
    print('Not a palindrome')

Enter a word:  hi

hi
ih
Not a palindrome

In [30]:
# String concatenation and repetition
a, b = 'abc', 'xyz'
print(a + b)

abcxyz

In [38]:
b = str(544)
print(a + b)

50544

In [36]:
a, b = '50', 5
print(a * b)

5050505050

In [40]:
# Substring checks
a = 'this is pythons class'
print(' is ' in a, 'Z' in a, 'python' in a, sep='\n')

True
False
True

In [42]:
# Replace string
a = 'python'
print(a.replace('p', 'k'), a)

kython python

In [44]:
# String methods
a = 'tHIS is PYTHON class'
print(a.capitalize(), a.lower(), a.upper(), a.title(), sep='\n')

This is python class
this is python class
THIS IS PYTHON CLASS
This Is Python Class

In [46]:
# Starts and ends with
a = 'hello world'
print(a.startswith('hell'), a.endswith('rld'), sep='\n')

True
True

In [48]:
# List filtering with startswith
lst = ['Israr', 'Akil', 'siri', 'alwin', 'keerti', 'george']
for i in lst:
    if i.upper().startswith('A'):
        print(i)

Akil
alwin

In [50]:
a = 10
b = 30
print(a + b)  # Output: 40
print(a - b)  # Output: -20
print(a * b)  # Output: 300
print(a / b)  # Output: 0.3333 (float division)

40
-20
300
0.3333333333333333

In [52]:
a = 10
b = 3
print(a // b)  # Floor division: Output is 3
print(a % b)   # Modulus: Output is the remainder, 1

3
1

In [54]:
a = 2
b = 4
print(a ** b)  # Exponentiation: 2^4 = 16

16

In [56]:
import math
a = 10
b = 7
print(math.ceil(a / b))  # Ceiling: Smallest integer greater than or equal to result
print(math.floor(a / b))  # Floor: Largest integer less than or equal to result
print(round(a / b))       # Round to the nearest integer

2
1
1

In [58]:
print(a > b)   # Greater than
print(a >= b)  # Greater than or equal to
print(a == b)  # Equality
print(a != b)  # Not equal
print(a < b)   # Less than
print(a <= b)  # Less than or equal to

True
True
False
True
False
False

In [60]:
print(True and False)  # False
print(True or False)   # True
print(not True)        # False

False
True
False

In [62]:
a = "Hello"
b = "World"
print(a + " " + b)                     # Concatenation
print(f"My name is {a} {b}")           # f-string
print("My name is {}, {}".format(a, b))  # .format method

Hello World
My name is Hello World
My name is Hello, World

In [66]:
a = input("Enter a number: ")  # Always returns a string
b = int(a)                     # Convert string to integer
print(type(b))

Enter a number:  54

<class 'int'>

In [70]:
a = eval(input("Enter a number: "))  # Evaluates the input as a Python expression
b = eval("5 + 10")
print(b)  # Output: 15

Enter a number:  76

15

In [72]:
x = 8
print(x << 2)  # Shift bits of `x` two places to the left: 8 * 2^2 = 32

32

In [74]:
print(int(0b100000))  # Convert binary to decimal: 32

32