### Lab 4
### Sidddhi Subhedar
### PRN : 1262240621

In [2]:
List=[100,10,1,298,65,483,49876,2,80,9,9213]

for i in range (len(List)-1):
    for j in range(0, (len(List)-1-i)):
        if(List[j] > List[j+1]):
            temp = List[j]
            List[j] = List[j+1]
            List[j+1] = temp

print("Element After Sorting List in Ascending Order is : ", List)

Element After Sorting List in Ascending Order is :  [1, 2, 9, 10, 65, 80, 100, 298, 483, 9213, 49876]

In [4]:
a=[1,2,5,7,9,11,20]
b=[3,4,6,8,22,25,27,28]

re = []
i = 0
j = 0

while (i < len(a)) and (j < len(b)):
    if a[i] < b[j]:
        re.append(a[i])
        i +=1
    else:
        re.append(b[j])
        j += 1
        
        
print(re)
# print(i)
# print(j)

re + a[i:] + b[j:]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 20]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 20, 22, 25, 27, 28]

In [10]:
def adder():
    print(2+30)

In [12]:
adder()
adder()
adder()
adder()
adder()
adder()
adder()

32
32
32
32
32
32
32

In [14]:
def adder(x , y):
    print(x+y)

In [22]:
adder(1 , 20)
adder(20 , 0)
adder('20' , '70')

21
20
2070

In [24]:
def palindrom(x):
    if x == x[::-1]:
        print('Palindrom')
    else:
        print('Not a palindrom')

In [26]:
palindrom('level')
palindrom('python')

Palindrom
Not a palindrom

In [28]:

def emp_info(emp_name , emp_salary , emp_age):
    print('Name' , emp_name)
    print('Salary' , emp_salary)
    print('Age' , emp_age)
    
    
emp_info('xyz' , 45646 , 32)

Name xyz
Salary 45646
Age 32

In [30]:
def emp_info(emp_name , emp_salary , emp_age):
    print('Name' , emp_name)
    print('Salary' , emp_salary)
    print('Age' , emp_age)
    
    
emp_info( emp_salary= 45646 ,emp_name = 'xyz' , emp_age= 32)

Name xyz
Salary 45646
Age 32

In [32]:
def emp_info(emp_name , emp_salary , emp_age):
    print('Name' , emp_name)
    print('Salary' , emp_salary)
    print('Age' , emp_age)
    
    
emp_info('xyz' ,emp_age= 65,emp_salary= 56464565)

Name xyz
Salary 56464565
Age 65

In [34]:
def emp_info(emp_name , emp_salary , emp_age):
    print('Name' , emp_name)
    print('Salary' , emp_salary)
    print('Age' , emp_age)
    
    
emp_info('xyz' ,54,emp_age= 56464565)

Name xyz
Salary 54
Age 56464565

In [36]:
def emp_info(emp_name , emp_salary , emp_age , emp_loc = 'GOA' , emp_pin = 3243):
    print('Name' , emp_name)
    print('Salary' , emp_salary)
    print('Age' , emp_age)
    print('emp_loc' , emp_loc)
    print('emp_pin' , emp_pin)
    
    
emp_info('xyz' ,4534534,65)

Name xyz
Salary 4534534
Age 65
emp_loc GOA
emp_pin 3243

In [38]:
def emp_info(emp_name , emp_salary , emp_age , emp_loc = 'GOA' , emp_pin = 3243):
    print('Name' , emp_name)
    print('Salary' , emp_salary)
    print('Age' , emp_age)
    print('emp_loc' , emp_loc)
    print('emp_pin' , emp_pin)
    
    
emp_info('xyz' ,4534534,65 , 'Bangalore' , 45646)

Name xyz
Salary 4534534
Age 65
emp_loc Bangalore
emp_pin 45646

In [40]:
def emp_info(emp_name , emp_salary , emp_age , emp_loc = 'GOA' , emp_pin = 3243):
    print('Name' , emp_name)
    print('Salary' , emp_salary)
    print('Age' , emp_age)
    print('emp_loc' , emp_loc)
    print('emp_pin' , emp_pin)
    
    
emp_info('xyz' ,4534534,65 ,emp_pin=  45646)

Name xyz
Salary 4534534
Age 65
emp_loc GOA
emp_pin 45646

In [42]:
def adder(x , y):
    return x+y

In [44]:
adder(10,20)

30

In [46]:
def adder(*args):
    print(sum(args))
    print(args , type(args))

In [48]:
adder(10,20,30)

60
(10, 20, 30) <class 'tuple'>

In [50]:
def adder(**kwargs):
    print(kwargs , type(kwargs))

In [52]:
adder(name = 'xyz' , salary = 67467 , age = 8)

{'name': 'xyz', 'salary': 67467, 'age': 8} <class 'dict'>

In [54]:
dict(name = 'xyz' , salary = 67467 , age = 8)

{'name': 'xyz', 'salary': 67467, 'age': 8}

In [56]:
def adder(*args , **kwargs):
    print(args , type(args))
    print(kwargs , type(kwargs))

In [58]:
adder(34,5,656,7,87,name = 'xyz' , salary = 67467 , age = 8 )

(34, 5, 656, 7, 87) <class 'tuple'>
{'name': 'xyz', 'salary': 67467, 'age': 8} <class 'dict'>

In [60]:
def adder(x , *args , **kwargs):
    print(x)
    print(args , type(args))
    print(kwargs , type(kwargs))

In [62]:
adder(10 , 233,34,4,546)

10
(233, 34, 4, 546) <class 'tuple'>
{} <class 'dict'>